*{
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  box-sizing: border-box;
  transition: 0.5;
}

body{
  height: 100%;
  width: 100%;
  position: relative;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: cen
  align-items: center;
  flex-direction: column;
}
.logo{
  height: 80px;
  margin-bottom: 1rem;
}
.social-icons-contenedor, footer-menu-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-position: center;
  background-image: url(1.jpg);
}
